body{
    margin: 0;
    height: 100vh;
    background-color: rgb(65, 113, 50);
    display: flex;
    justify-content: center;
    align-items: center;¨
    font-family: cursive ;
}

.kontainer{
    background-color: rgb(198, 228, 228);
    width: 300px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    overflow: hidden;
}

.jmeno-mesice{
    margin: 0;
    background-color: orangered;
    padding: 8px;
    color: aliceblue;
    font-size: 24px;
    font-weight: 700;
}

.jmeno-dne{
    margin: 15px;
    color: gray;


}

.cislo-dne{
    margin: 10px  ;
    font-size: 55px;
    font-weight: bold;
    font-family: cursive;
}

.rok{
    margin: 16px;
    color: grey;

}