body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(41, 75, 140);
}

h1{
    font-size: 50px;
    font-family: cursive;
    color: rgb(221, 192, 154);
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, .8);
    white-space: nowrap;
    
}

.container{
    text-align: center;
    
}

.btn{
    background-color: antiquewhite;
    padding: 30px 50px ;
    font-size: 30px;
    height: 200px;
    min-width: 400px;
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .4);
    border: none;
    margin: 10px 10px;
    background-image: url("src/img/kocka-364x205.jpg");
    background-size: cover;
    color: white;
    font-size: 40px;
    font-family: cursive;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    outline: none

    transform: rotate(15deg) scale(1.6);
    transition: transform 0.8s ease;;
}

/*
.btn:hover{
    color: pink;
    transform: scale(1.2);
    transition: 1s;
}
*/

.btn:hover{
    color: pink;
    transform: rotate(5deg)
}

.btn:active{
    background-size: 105%;
}