body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?q=80&w=1274&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
     background-size:cover;
      background-position:center;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 25px;
    text-align: center;
    color: antiquewhite;

}

.clock{
display: flex;
    position: relative;
}

.clock div{
margin: 6px;
text-shadow:  4px 4px 8px rgba(0,0,0,.3);
   
}

.clock span{
    background: rgb(12, 87, 19);
    width: 100px;
    height: 80px;
    opacity: .6;
    color: rgb(243, 242, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 4px 4px 8px rgba(0,0,0,.3);
    border-radius: 3px 15px 8px 5px;
}

.clock .text{
    height: 30px;
    font-size: 14px;    
    background-color: rgb(99, 194, 194);
    opacity: .7;
}

.clock #ampm{
    bottom: 10px;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px ;
    background: rgb(106, 87, 31);
    opacity: .7;    
}


