*{
  box-sizing: border-box;
  margin: 0 ;  
}

body{
    font-family: Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1667984550708-a6beba23cb4c?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    height: 100vh;
}

.calculator{
    background-color: rgb(65, 130, 130);
    max-width: 400px;
    padding: 20px;
    margin: 0 auto; 
    border: 3px solid rgb(8, 38, 22);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    border-radius: 5px;
    margin-top: 60px;
}

#result{    
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border-radius: 8px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, .2);
    border: none;
    
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 25px;
}

button{
    display: block;
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s ease, transform 0.6s ease;

}

button:hover{
    background-color: #ddd;
    transform: translateY(3px);

}

/* button::after{
    display: block;
    height: 4px;
    background-color: rgba(0, 0, 0, .2);
    margin-top: 4px;
} */

button:active{
    transform: translateY(-5px);
}

.clear{
    background-color: red;
    color: aliceblue;
}

.remove{
    background-color: red;
    color: #fff;
}

.number .decimal{
    background-color: rgb(193, 149, 149);

}

.operator{
    background-color: rgb(117, 117, 239);    
    color: #fff;
}

.equals{
    background-color: chartreuse;
    grid-row: span 3;
    color: #fff;
}