body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    transition: .8s;
}
h1{ 
    position: relative;
    top: -60px;
}

.input{
    visibility: hidden;
}

.label{
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: rgb(186, 195, 195);
    border: 2px solid rgb(175, 182, 51);
    border-radius: 20px;
  

}

.circle {
    height: 34px;
    width: 34px;
    background-color: rgb(26, 25, 23);
    border: 2px solid rgb(202, 202, 55);
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    animation: toggleOff .6s linear forwards;
}


.input:checked + .label .circle {
    animation: toggleOn .6s linear forwards;
    background-color: aliceblue;
}


.input:checked + .label{
    background-color: salmon;

} 

.input:checked + h1{
    color: aliceblue;

} 



@keyframes toggleOn{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(40px);
    }
}

@keyframes toggleOff {
    from {
        transform: translateX(40px);
    }
    to {
        transform: translateX(0);
    }
}