body{
    margin: 0;
    padding: 20px;
    font-family: Montserrat, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1623410439361-22ac19216577?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #41a2712a;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

h1{
    text-align: center;
    color: #333;
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(66, 48, 199, 0.798);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-weight: bold;
    margin-bottom: 20px;
}

input{
    padding: 8px;
    border: solid 1px #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    outline: none ;
    background-color: #a6787834;
}

button{
    background-color: rgb(89, 102, 226);
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color .3s ease ;
}

button:hover{
    background-color: rgb(31, 40, 170);
}

#result{
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
}



