.tile{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    border: solid 2px floralwhite;
    background:  #121213;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
}

.row{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    gap: 5px;

}

.wrong{
    border-color: grey;
    background-color: grey;   
}

.is-filled{
    border-color: rgb(99, 136, 168);
}

.present{
    border-color: orange;
    background-color: orange;
}

.correct{
    border-color: green;
    background-color: green;   
}